
body {
    background-color: lavender;
    color: rgb(88, 88, 88);
    font-family: 'Instrument Serif', serif;
    letter-spacing: .9px;
    /* border: 1px solid black; */
}

h1 {
    font-size: 54px;
    letter-spacing: 1.5px;
}

h2{
    font-weight: 100;
    text-shadow: 0px 1px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;

    /* @media (max-width:560px) {
        align-items: center;
    } */

    div {
        display: flex;
        align-items: center;
    }
}

.Landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

.ColumnContainer {
    display: flex;
    
    p {
        margin: 0;
    }

    a {
        margin: 0;
    }
}

.Column1{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 5px;

}

.Column2{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.Footer {
    position: absolute;
    bottom:0;
    right:0;
    padding-right: 20px;
}


.MasterContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.WeekDays{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 550px;
    width: 75px;
    /* border: 1px solid black; */

    button{
        width: 65px;
        height: 65px;
        background-color: transparent;
        font-size: 29px;
        text-shadow: 1px 1px;
        color: rgb(88, 88, 88);
        border: 3px solid rgb(79, 76, 76);
        border-radius: 5px;
    }

    button:hover{
        background-color: aliceblue;
        border-color: slateblue;
        border-width: 1px;
        color: slateblue;
        /* text-shadow: 1px 1px 1px slateblue; */
        transition: all .1s ease-in-out;
    }
}


button {
    font-family: 'Instrument Serif', serif;
    letter-spacing: .6px;
    font-size: 15px;
}