.TodoList {
    width: 43vw;
    /* border: 1px solid black; */
    background: rgb(240, 248, 255);
    background: linear-gradient(90deg, rgba(240, 248, 255, 0) 0%, rgba(240, 248, 255, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: end;
    border-top-right-radius: 30px;

    @media (max-width:320px) {
        width: 55vw;
    }
}

.ListHead {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    list-style: none;
    border-top-right-radius: 20px;
    border-right: 3px double rgba(0, 0, 0, 0.285);
    border-left: 20px solid rgba(0, 0, 0, 0.285);
    padding: 2px;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 40px;
    /* border-right: 3px double rgb(88, 88, 88); */

    @media (max-width:320px) {
        font-size: 30px;
        border-left-width: 16px;
    }
}

.ListFoot {
    height: 65px;
    width: inherit;
    /* list-style: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px double rgba(0, 0, 0, 0.285);
    border-left: 20px solid rgba(0, 0, 0, 0.285);
    padding: 2px;
    padding-left: 15px;
    padding-right: 10px;
    /* border-right: 3px double rgb(88, 88, 88); */

    @media (max-width:320px) {
        border-left-width: 16px;
    }
}